/* section     */

figure{
    margin: 0;
    padding: 0;
    & figcaption
    {
        display: block;
        margin:  1.5vh auto 0 auto;
        text-align: center;
        font-style: italic;
        font-size: 0.9em;
    }
}


.section
{
    margin: 0;
    padding: 3em 1em;
    @include md
    {
        padding: 4em 2em;
    }
    @include lg 
    {
        padding: 7.5vh 12.5vw;
        vertical-align: middle; 
        justify-content: center;
        margin: 0 auto;
    }
    @include xl
    {
        padding: 7.5vh auto;
        vertical-align: middle; 
        justify-content: center;
        margin: 0 auto;
        & p {
            max-width: 400px;
        }
    }
    & :last-child
    {
        //padding-bottom: 0;
        margin-bottom: 0;
    }
    /*& :first-child
    {
        padding-top: 0;
        margin-top: 0;
    }*/
    &--rux
    {
               
    }
    
    &--kikk
    {
        background: $c-gris-1;
    }
    
}




.kikk
{
    &__btnsite
        {
            display: block;
            text-align: center;
            background-color: $c-black1;
            padding: 10px 15px!important;
            cursor: pointer;
            text-decoration:none;
            color: white;
            width: 140px;
            @include md
            {
                width: 170px;
                padding: 12px 12px!important;
            }
            &:hover{
                background-color: lighten($c-black1,10%)

            }
            
        }
        &__arrow{
            width: 25px;
            margin-top: 0 !important;
        }
        &__liste
        {
            @include xl{
                padding-left: 1em;
            }
        }
        &__video
        {
            display: block;
            width: 100%;
            height: 300px;
            margin: 2em auto 0 auto;
            text-align: center;
            @include md
            {
                width: 70vw;
                height: 320px;
            }
            @include lg
            {
                width: 50vw;
                height: 320px;
            }
            @include xl
            {
                width: 30vw;
                height: 380px;
            }
            
        }
}






.tacheprb
{
    background: $c-gris;   
    &__calendargif
    {
        display: block;
        margin: 1.5em 0;
        @include md
        {
            width: 60%;
        }
        @include lg
        {
           width: 30vw;
           margin-top: -5px;
           
        }
        @include xl
        {
           height: 450px;    
           margin: 0;
        }
    }
}


.idprb
{
    background: white;
    &__uxpressia
    {
        content: "";
        display: block;
        margin: 2.5em auto 3.5vh auto;
        text-align: center;
        background-size: contain;
        background-repeat: no-repeat;
        height: 35.4px;
        width: 200px;
        background-image: url(../../assets/images/uxpressia.png);
    }
    
    &__uxpressia-casestudy
    {
        display: block;
        width: 100%;
        margin: 5em auto 0 auto;
        text-align: center;
        @include md{
            width: 75%;
            //height: 400px;
        }
        @include lg
        {
           width: 50%;
        }
        @include xl
        {
           width: 60%;
        }
        
    }
}

.avosmarque{
    background-color: $c-gris;
   &__listetache
   {
       @include xl{
           padding-left: 1em;
           
       }
   }
   &__taches
   {
       @include lg{
           padding-top: 1em;
       }
       @include xl{
           padding-top: 1em;
       }
   }
   &__img
   {
       display: block;
       //margin: 2.5em auto;
       text-align: center;
       //width: 100%;
       @include sd
       {
           width: 100%;
           //margin: 0 auto;
           text-align: center;
       }
       @include md
       {
          width:70vw;
       }
       @include lg
       {
           height: 90%;
           margin:1em auto!important;
           display: block;
           text-align: right;
      /*     height: 380px;
           margin-bottom: 0;*/
       }
       @include xl
       {
           width:22vw;
           margin-top: 0px;
       }
   }
}


.solution
{
    background-color: $c-gris-1;
    &__titre
    {
        &::after
        {
            margin: 0 auto;
            text-align: center;
        }
    }
  
    
    &__imgwirframe
    {
        display: block;
        margin: 1.5em auto;
        text-align: center;
        width: 100%;
        @include md 
        {
            width: 70vw;
        }
        @include lg
        {
            width: 50vw;
        }
        @include xl
        {
            width: 30vw;
        }
        
    }
    
    &__accordion
    {
        background-color: $c-white;
        color: $c-black2;
        cursor: pointer;
        padding: 1.5em 2em;
        width: 100%;
        text-align: left;
        border: none;
        border-left: 5px solid $c-gris-2;
        outline: none;
        transition: 0.4s;
        margin-bottom: 2vh;
        @include md
        {
            font-size: 0.8em;
        }
        @include xl
        {
            max-width: 900px;
        }
        
        &--1{
            margin-top: 2em;
        }
    }
    &__accordionimg
    {
        &--3
        {
            @include lg
            {
                display: block;
                margin: 0 auto !important;
                text-align: center;
                float: inherit !important;
            }
            @include xl
            {
                display: block;
                margin: 0 auto !important;
                text-align: center;
                float: inherit !important;
            }
            
        }
    }
    &__panel
    {
        padding: 2.5em 1em;
        background-color: lighten($c-gris-1,100%);
        display: none; 
        overflow: hidden;
        margin-bottom: 2.5vh;
        @include lg
        {
            padding-left: 4vw;
            padding-right: 4vw;
        }
        @include xl
        {
            padding-left: 50px;
            padding-right: 50px;
            max-width: 800px;
        }
        
       
        & p 
        {
            @include lg 
            {
                vertical-align: middle;
            }
            @include xl
            {
                max-width: 80vw;
            }
        }
        & p:first-child
        {
            margin-top: 0;
        }
         & p:last-child, figure
        {
            padding-bottom: 0em;
        }
        & h4
        {
            padding-bottom: 1.5em;
        }
        
    }
    
    &__paneljpg
    {
        
        display: block;
        margin: 0 auto;
        text-align: center;
        width: 80vw;
        @include md
        {
            width: 80vw;
        }
        @include lg
        {
            width: 50vw;
        }
        @include xl
        {
            width: 30vw;
        }
        
    }
    &__panelgif
    {
        
        display: block;
        margin: 0 auto;
        text-align: center;
        width: 50vw;
        @include md
        {
            width: 40vw;
        }
        @include lg
        {
            width: 16vw;
            float: left;
            margin-right: 3vw !important;
        }
        @include xl
        {
            width: 9.5vw;
            float: left;
            margin-right: 3vw !important;
        }
        
    }
    &__panellink
    {
        margin-top: 2em;
        font-weight: 400;
        background-color: $c-black1;
        padding: 10px 15px;
        cursor: pointer;
        text-decoration:none;
        color: white;
        
        &:hover{
            background-color: lighten($c-black1,10%)

        } 
    }
    .active, &__accordion:hover
    {
        background-color: $c-gris-2;
        color: white;
    }
    &__wireframe
    {
        margin-top: 0;
        padding-top: 0;
    }
   
}



.conclusion
{
    padding-bottom: 6em; //appliquer ca sur last child .section
    & p 
    {
        @include lg
        {
            max-width: 50%;
            padding: 0 25%;
        }
        @include xl 
        {
            max-width: 30%;
            padding: 0 35%;
        }
    }
    
    &__definition
    {
        font-size: 0.9em;
        line-height: 10px;
        margin: 1.8em 0 0;
        padding: 1.8em 0 0;
        border-top: solid $c-black1 1px;
        padding-left: 1em;
        font-weight: 100;
    }
}